[submodule "ai-on-z-samples"]
	path = ai-on-z-samples
	url = https://github.com/IBM/ai-on-z-samples
[submodule "docs/ai-on-z-fraud-detection"]
	path = docs/ai-on-z-fraud-detection
	url = https://github.com/IBM/ai-on-z-fraud-detection
[submodule "docs/ai-on-z-containers"]
	path = docs/ai-on-z-containers
	url = https://github.com/IBM/ai-on-z-containers
